# Laravel - Files yang TIDAK boleh push ke GitHub
*.log
.DS_Store
Thumbs.db

# Environment files - BERISI PASSWORD & SECRET
.env
.env.*
!.env.example

# IDE configs
.phpactor.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Dependencies
/node_modules
/vendor

# Build artifacts
/public/build
/public/hot
/public/storage

# Laravel specific
/storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

# Auth & credentials
/auth.json
Homestead.json
Homestead.yaml
